<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="./phpunit.php"
         colors="true">
  <testsuites>
    <testsuite name="Aura.Html test suite">
      <directory>./tests</directory>
      <exclude>./tests/Escaper/AbstractEscaperTest.php</exclude>
      <exclude>./tests/Helper/AbstractHelperTest.php</exclude>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>